html, body {
    margin: 0;
    margin-top: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #440d18;
    color:lightsteelblue;
  }

  div {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: flex;
    background-size:auto;
  }

  header * {
    display: inline;
    height: 50px;
  }
  
  header ul {
    padding: 0;
  }
  
  header li {
    margin-left: 20px;
  }

  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .title {
    position: absolute;
    text-align: center;
  }